<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jedrek.graduation.mapper.DocumentMapper">

    <insert id="addDocument">
        INSERT INTO document(
        title,document_desc, content_url, created_date, created_user_id, last_modify_date,
        last_modify_user_id
        ) VALUES (
        #{title}, #{documentDesc},#{contentUrl}, #{createdDate}, #{createdUserId}, #{lastModifyDate}
        #{lastModifyUserId}
        );
    </insert>

    <delete id="deleteDocument">
        DELETE FROM document WHERE document_id = #{documentId}
    </delete>

    <update id="modifyDocument">
        UPDATE document SET
        document.title = #{title},
        document.document_desc = #{documentDesc},
        document.content_url = #{contentUrl},
        document.created_date = #{createdDate},
        document.created_user_id = #{createdUserId},
        document.last_modify_date = #{lastModifyDate},
        document.last_modify_user_id = #{lastModifyUserId}
        WHERE document_id = #{documentId}
    </update>

    <select id="queryDocument" resultType="com.jedrek.graduation.entity.Document">
        SELECT
        document.document_id as documentId,
        document.title,
        document.document_desc as documentDesc,
        document.content_url as contentUrl,
        document.created_date as createdDate,
        document.created_user_id as createdUserId,
        document.last_modify_date as lastModifyDate,
        document.last_modify_user_id as lastModifyUserId
        FROM document WHERE document_id = #{documentId}
    </select>

    <select id="queryDocumentByTitle" resultType="com.jedrek.graduation.entity.Document">
        SELECT
        document.document_id as documentId,
        document.title,
        document.document_desc as documentDesc,
        document.content_url as contentUrl,
        document.created_date as createdDate,
        document.created_user_id as createdUserId,
        document.last_modify_date as lastModifyDate,
        document.last_modify_user_id as lastModifyUserId
        FROM document WHERE title = #{title}
    </select>

    <select id="queryDocumentByUserName" resultType="com.jedrek.graduation.entity.Document">
        SELECT
        document.document_id as documentId,
        document.title,
        document.document_desc as documentDesc,
        document.content_url as contentUrl,
        document.created_date as createdDate,
        document.created_user_id as createdUserId,
        document.last_modify_date as lastModifyDate,
        document.last_modify_user_id as lastModifyUserId
        FROM document,user WHERE document.created_user_id = user.user_id AND user_name = #{userName};
    </select>
    
    <select id="queryDocumentByUser" resultType="com.jedrek.graduation.entity.Document">
        SELECT
        document.document_id as documentId,
        document.title,
        document.document_desc as documentDesc,
        document.content_url as contentUrl,
        document.created_date as createdDate,
        document.created_user_id as createdUserId,
        document.last_modify_date as lastModifyDate,
        document.last_modify_user_id as lastModifyUserId
        FROM document WHERE created_user_id = #{createdUserId}
    </select>

    <select id="queryDocumentByModifyUser" resultType="com.jedrek.graduation.entity.Document">
        SELECT
        document.document_id as documentId,
        document.title,
        document.document_desc as documentDesc,
        document.content_url as contentUrl,
        document.created_date as createdDate,
        document.created_user_id as createdUserId,
        document.last_modify_date as lastModifyDate,
        document.last_modify_user_id as lastModifyUserId
        FROM document WHERE last_modify_user_id =#{modifyUserId}
    </select>

    <select id="queryAllDocument" resultType="com.jedrek.graduation.entity.Document">
        SELECT
        document.document_id as documentId,
        document.title,
        document.document_desc as documentDesc,
        document.content_url as contentUrl,
        document.created_date as createdDate,
        document.created_user_id as createdUserId,
        document.last_modify_date as lastModifyDate,
        document.last_modify_user_id as lastModifyUserId
        FROM document;
    </select>

</mapper>