<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jedrek.graduation.mapper.FileInfoMapper">

    <insert id="addFile" parameterType="com.jedrek.graduation.entity.FileInfo">
        INSERT INTO file_info(
        file_name,
        format,
        parent_folder_id,
        content_url,
        created_user_id,
        <if test="groupId != null">group_id,</if>
        mode
        )VALUES (
        #{fileName},
        #{format},
        #{parentFolderId},
        #{contentUrl},
        #{createdUserId},
        <if test="groupId != null">#{groupId},</if>
        #{mode}
        )
    </insert>

    <delete id="deleteFile">
        DELETE FROM file_info WHERE file_id = #{fileId}
    </delete>

    <select id="queryFileByFileId" resultType="com.jedrek.graduation.entity.FileInfo">
        SELECT
        file_id AS fileId,
        file_name AS fileName,
        format,
        parent_folder_id AS parentFolderId,
        content_url AS contentUrl,
        created_user_id AS createdUserId,
        created_user_date AS createdUserDate,
        group_id AS groupId,
        mode
        FROM file_info WHERE file_id = #{fileId}
    </select>
    
    <select id="queryRootFileByUserId" resultType="com.jedrek.graduation.entity.FileInfo">
        SELECT
        file_id AS fileId,
        file_name AS fileName,
        format,
        parent_folder_id AS parentFolderId,
        content_url AS contentUrl,
        created_user_id AS createdUserId,
        created_user_date AS createdUserDate,
        group_id AS groupId,
        mode
        FROM file_info
        WHERE
         created_user_id = #{createdUserId}
         AND parent_folder_id IS NULL
         AND mode= #{mode}
    </select>
    
    <select id="queryRootFileByUserIdAndGroupId" resultType="com.jedrek.graduation.entity.FileInfo">
        SELECT
        file_id AS fileId,
        file_name AS fileName,
        format,
        parent_folder_id AS parentFolderId,
        content_url AS contentUrl,
        created_user_id AS createdUserId,
        created_user_date AS createdUserDate,
        group_id AS groupId,
        mode
        FROM file_info
        WHERE
        created_user_id = #{createdUserId}
        AND parent_folder_id IS NULL
        AND mode= #{mode}
        AND group_id = #{groupId}
    </select>

    <select id="queryFilesByUserAndParentFolder" resultType="com.jedrek.graduation.entity.FileInfo">
        SELECT
        file_id AS fileId,
        file_name AS fileName,
        format,
        parent_folder_id AS parentFolderId,
        content_url AS contentUrl,
        created_user_id AS createdUserId,
        created_user_date AS createdUserDate,
        group_id AS groupId,
        mode
        FROM file_info WHERE created_user_id = #{createdUserId} AND parent_folder_id = #{parentFolderId}
    </select>
    
    <select id="queryFileByFolder" resultType="com.jedrek.graduation.entity.FileInfo">
        SELECT
        file_id AS fileId,
        file_name AS fileName,
        format,
        parent_folder_id AS parentFolderId,
        content_url AS contentUrl,
        created_user_id AS createdUserId,
        created_user_date AS createdUserDate,
        group_id AS groupId,
        mode
        FROM file_info WHERE parent_folder_id = #{parentFolderId}
    </select>

    <update id="updateFileInfoName">
        UPDATE file_info SET
        file_name = #{newFileName}
        WHERE file_id = #{fileId}
    </update>
    
</mapper>
