<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jedrek.graduation.mapper.FolderMapper">

    <insert id="addFolder" parameterType="com.jedrek.graduation.entity.Folder">
        INSERT INTO folder(
        folder_name,
        folder_desc,
        <if test="parentFolderId != null">
            parent_folder_id,
        </if>
        created_user_id,
        <if test="groupId != null">group_id,</if>
        mode)
        VALUES (
        #{folderName},
        #{folderDesc},
        <if test="parentFolderId != null">
            #{parentFolderId},
        </if>
        #{createdUserId},
        <if test="groupId != null">#{groupId},</if>
        #{mode});
    </insert>
    
    <delete id="deleteFolder" parameterType="com.jedrek.graduation.entity.Folder">
        DELETE FROM folder where folder_id = #{folderId}
    </delete>

    <select id="queryRootFolderByUser" resultType="com.jedrek.graduation.entity.Folder">
        SELECT
        folder_id AS folderId,
        folder_name AS folderName,
        folder_desc AS folderDesc,
        parent_folder_id AS parentFolderId,
        content_url AS contentUrl,
        created_user_id AS createdUserId,
        created_user_date AS createdUserDate,
        group_id AS groupId,
        mode
        FROM folder
        WHERE
         created_user_id = #{createdUserId}
         AND parent_folder_id is NULL
         AND mode = #{mode}
    </select>
    
    <select id="queryRootFolderByUserAndGroupId" resultType="com.jedrek.graduation.entity.Folder">
        SELECT
        folder_id AS folderId,
        folder_name AS folderName,
        folder_desc AS folderDesc,
        parent_folder_id AS parentFolderId,
        content_url AS contentUrl,
        created_user_id AS createdUserId,
        created_user_date AS createdUserDate,
        group_id AS groupId,
        mode
        FROM folder
        WHERE
        created_user_id = #{createdUserId}
        AND parent_folder_id is NULL
        AND mode = #{mode}
        AND group_id = #{groupId}
    </select>

    <select id="queryRootFolderByPublic" resultType="com.jedrek.graduation.entity.Folder">
        SELECT
        folder_id AS folderId,
        folder_name AS folderName,
        folder_desc AS folderDesc,
        parent_folder_id AS parentFolderId,
        content_url AS contentUrl,
        created_user_id AS createdUserId,
        created_user_date AS createdUserDate,
        group_id AS groupId,
        mode
        FROM folder where mode = 1;
    </select>

    <select id="queryFolderById" resultType="com.jedrek.graduation.entity.Folder">
        SELECT
        folder_id AS folderId,
        folder_name AS folderName,
        folder_desc AS folderDesc,
        parent_folder_id AS parentFolderId,
        content_url AS contentUrl,
        created_user_id AS createdUserId,
        created_user_date AS createdUserDate,
        group_id AS groupId,
        mode
        FROM folder WHERE folder_id = #{folderId}
    </select>
    
    <select id="querySubFolder" resultType="com.jedrek.graduation.entity.Folder">
        SELECT
        folder_id AS folderId,
        folder_name AS folderName,
        folder_desc AS folderDesc,
        parent_folder_id AS parentFolderId,
        content_url AS contentUrl,
        created_user_id AS createdUserId,
        created_user_date AS createdUserDate,
        group_id AS groupId,
        mode
        FROM folder where parent_folder_id = #{parentFolderId}
    </select>

    <select id="queryFolder" resultType="com.jedrek.graduation.entity.Folder">
        SELECT
        folder_id AS folderId,
        folder_name AS folderName,
        folder_desc AS folderDesc,
        parent_folder_id AS parentFolderId,
        content_url AS contentUrl,
        created_user_id AS createdUserId,
        created_user_date AS createdUserDate,
        group_id AS groupId,
        mode
        FROM folder WHERE folder_name=#{folderName} AND parent_folder_id = #{parentFolderId}
    </select>
    
    <update id="updateFolderName">
      UPDATE folder SET
      folder_name = #{newName}
      WHERE folder_id = #{folderId}
    </update>
    
</mapper>

