<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jedrek.graduation.mapper.LoginUserMapper">
    <select id="saveLoginUser">
        INSERT INTO login_user(account, email, password)
        VALUES (#{account}, #{email}, #{password});
    </select>
    
    <delete id="deleteLoginUser">
        DELETE FROM login_user WHERE account = #{account}
    </delete>
    
    <update id="updateLoginUser">
        UPDATE login_user SET
        login_user.email = #{email},
        login_user.password = #{password}
        WHERE login_user.account = #{account}
    </update>
    
    <select id="queryLoginUserByAccount">
        SELECT * FROM login_user WHERE account = #{account}
    </select>
</mapper>