<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jedrek.graduation.mapper.VersionMapper">

    <select id="queryVersionsByRawFileId" resultType="com.jedrek.graduation.entity.Version">
        SELECT
        version_id as versionId,
        version_key as versionKey,
        file_id as fileId,
        version_desc as versionDesc,
        raw_file_id as rawFileId
        FROM version WHERE raw_file_id = #{rawFileId}
    </select>
    
    <select id="queryVersionByKey" resultType="com.jedrek.graduation.entity.Version">
        SELECT
        version_id as versionId,
        version_key as versionKey,
        file_id as fileId,
        version_desc as versionDesc
        FROM version WHERE version_key = #{versionKey}
    </select>

    <insert id="addVersion" parameterType="com.jedrek.graduation.entity.Version">
        INSERT INTO version(version_key, file_id,raw_file_id, version_desc)
        VALUES (#{versionKey}, #{fileId},#{rawFileId}, #{versionDesc})
    </insert>
    
    <delete id="deleteVersion">
        DELETE FROM version where version_key = #{versionKey}
    </delete>

</mapper>
