<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建文档</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/header.css">
    <style>
        .content {
            background-color: #ffffff;
            margin-top: 50px;
            width: 1000px;
            height: 600px;
        }
        .upload-demo {
            margin-left: 10%;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-col :span="18">
                    <el-menu
                            class="el-menu-demo"
                            mode="horizontal"
                            background-color="#24292e"
                            text-color="#fff"
                            active-text-color="#ffd04b">
                        <el-menu-item index="1">
                            <a href="/">DocumentKiller</a>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <el-input placeholder="请输入文档关键字">
                                <i slot="suffix" class="el-icon-search"></i>
                            </el-input>
                        </el-menu-item>
                        <el-menu-item index="5">我的工作台</el-menu-item>
                        <el-menu-item index="6">消息中心</el-menu-item>
                        <el-menu-item index="7">小组管理</el-menu-item>
                    </el-menu>
                </el-col>
                <el-col :span="6">
                    <el-menu
                            class="el-menu-demo"
                            mode="horizontal"
                            background-color="#24292e"
                            text-color="#fff"
                            active-text-color="#ffd04b">
                        <el-menu-item index="8" class="test">
                            <i class="el-icon-bell"></i>
                        </el-menu-item>
                        <el-menu-item index="9">
                            <i class="el-icon-plus"></i>
                        </el-menu-item>
                        <el-menu-item index="10">
                            <i class="el-icon-star-on"></i>
                        </el-menu-item>
                        <el-submenu index="11">
                            <template slot="title">
                                <a class="user_head_a" href="#">
                                    <div id="user_head" :style="{backgroundImage: 'url(/system/img/' +userMessage.userName+ '.jpg)'}">
                                    </div>
                                </a>
                            </template>
                            <el-menu-item index="2-1"><a :href="'/'+ userMessage.userName">个人信息</a></el-menu-item>
                            <el-menu-item index="2-2">个人文档</el-menu-item>
                            <el-menu-item index="2-3"><a href="/document/test">新建文档</a></el-menu-item>
                        </el-submenu>
                    </el-menu>
                </el-col>
            </el-header>
            <el-container>
                <el-col :span="10" :offset="4">
                    <div class="content">
                        <el-form enctype="multipart/form-data" label-width="80px" method="post">
                            <el-form-item label="标题">
                                <el-input name="title" placeholder="请输入标题" size="medium"></el-input>
                            </el-form-item>
                            <el-form-item label="文档描述">
                                <el-input name="documentDesc" placeholder="请输入描述" size="medium"></el-input>
                            </el-form-item>
                            <el-form-item label="上传文档">
                                <input type="file" name="file" class="btn btn-primary">
                                <!--<el-upload-->
                                        <!--name="file"-->
                                        <!--class="upload-demo"-->
                                        <!--action="upload_document"-->
                                        <!--drag-->
                                        <!--multiple>-->
                                    <!--<i class="el-icon-upload"></i>-->
                                    <!--<div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>-->
                                    <!--<div class="el-upload__tip" slot="tip">文档支持pdf和word格式</div>-->
                                <!--</el-upload>-->
                            </el-form-item>
                            <el-form-item>
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Upload"/>
                            </el-form-item>
                        </el-form>
                    </div>
                </el-col>
            </el-container>
        </el-container>
    </div>
</body>
<script src="../static/js/vue.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/axios.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            userMessage: {
                userName: ""
            }
        },
        mounted: function() {
            obj = this;
            obj.userMessage.userName = obj.getCookie("currentUser");
        },
        methods: {
            //获取cookie
            getCookie: function (cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
                }
                return "";
            },
            format_url: function (url) {
                return url.split(" ").join("_")
            }
        }
    })
</script>
</html>