<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文档展示页</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/header.css">
    <style>
       .pdfobject-container {
           height: 650px;
           width: 100%;
       }
       .pdfobject {
           border: 1px solid #666;
       }
        .title {
            width: 100%;
            height: 100px;
            background-color: #ffffff;
        }
        .creator-logo {
            background-color: #4cae4c;
            width: 100px;
            height: 100px;
            margin-top: 40px;
            border-radius: 45px;
            background-image: url(../static/img/gakki.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center center;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-col :span="18">
                    <el-menu
                            class="el-menu-demo"
                            mode="horizontal"
                            background-color="#24292e"
                            text-color="#fff"
                            active-text-color="#ffd04b">
                        <el-menu-item index="1">
                            DocumentKiller
                        </el-menu-item>
                        <!--<el-menu-item index="2">-->
                        <!--<i class="el-icon-tickets"></i>-->
                        <!--</el-menu-item>-->
                        <el-menu-item index="3">
                            <el-input placeholder="请输入文档关键字">
                                <i slot="suffix" class="el-icon-search"></i>
                            </el-input>
                        </el-menu-item>
                        <el-menu-item index="5">我的工作台</el-menu-item>
                        <el-menu-item index="6">消息中心</el-menu-item>
                        <el-menu-item index="7">小组管理</el-menu-item>
                    </el-menu>
                </el-col>
                <el-col :span="6">
                    <el-menu
                            class="el-menu-demo"
                            mode="horizontal"
                            background-color="#24292e"
                            text-color="#fff"
                            active-text-color="#ffd04b">
                        <el-menu-item index="8" class="test">
                            <i class="el-icon-bell"></i>
                        </el-menu-item>
                        <el-menu-item index="9">
                            <i class="el-icon-plus"></i>
                        </el-menu-item>
                        <el-menu-item index="10">
                            <i class="el-icon-star-on"></i>
                        </el-menu-item>
                        <el-submenu index="11">
                            <template slot="title" class="head_temp">
                                <a class="user_head_a" href="#">
                                    <div id="user_head">
                                    </div>
                                </a>
                            </template>
                            <el-menu-item index="2-1">个人信息</el-menu-item>
                            <el-menu-item index="2-2">个人文档</el-menu-item>
                            <el-menu-item index="2-3">未知</el-menu-item>
                        </el-submenu>
                    </el-menu>
                </el-col>
            </el-header>
            <el-container>
                <el-col :span="4" :offset="1">
                    <el-aside>
                    <el-menu
                        default-active="2"
                        class="el-menu-vertical-demo"
                        @open="handleOpen"
                        @close="handleClose">
                    <el-menu-item index="2">
                        <i class="el-icon-menu"></i>
                        <span slot="title">查看原文</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-document"></i>
                        <span slot="title">查看讨论</span>
                    </el-menu-item>
                        <el-submenu index="1">
                            <template slot="title">
                                <i class="el-icon-location"></i>
                                <span>查看历史版本</span>
                            </template>
                            <el-menu-item-group>
                                <template slot="title">分组一</template>
                                <el-menu-item index="1-1">选项1</el-menu-item>
                                <el-menu-item index="1-2">选项2</el-menu-item>
                                <el-menu-item index="1-3">选项3</el-menu-item>
                                <el-menu-item index="1-4">选项4</el-menu-item>
                                <el-menu-item index="1-5">选项5</el-menu-item>
                            </el-menu-item-group>
                            </el-submenu>
                        </el-submenu>
                </el-menu>
                </el-aside>
                </el-col>
                <el-col :span="2" :offset="2">
                    <a href="#">
                        <div class="creator-logo"></div>
                    </a>
                </el-col>
                <el-col :span="11" :offset="0">
                    <el-main>
                        <div class="title">
                            <h2>{{document.title}}</h2>
                            <h4 style="color: grey">{{document.documentDesc}}</h4>
                            <div class="creator">
                                <a :href="'/'+creator.userName"><p  style="float: left;">{{creator.userName}}</p></a>
                                <p  style="float: left; margin-left: 55%;">{{document.createdDate}}</p>
                            </div>
                        </div>
                        <div class="document"></div>
                    </el-main>
                </el-col>
            </el-container>
        </el-container>
    </div>
</body>
<script src="../static/js/vue.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/axios.js"></script>
<script src="../static/js/pdfobject.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            creator: {
                userName : ""
            },
            document: {
                title : "",
                documentDesc: "",
                createdDate: "",
                finalPath: ""
            }
        },
        mounted: function () {
            obj = this;
            var param = window.location.href;
            var documentId = param.split("/")[4];
            // console.log(documentId);
            // var documentId = 1;
            axios.get("/document/"+documentId).then(function (response) {
                obj.document.finalPath = response.data.finalPath;
                // console.log(response.data.user.userName);
                obj.creator.userName = response.data.user.userName;
                obj.document.title = response.data.document.title;
                obj.document.documentDesc = response.data.document.documentDesc;
                obj.document.createdDate = response.data.dateString;
                obj.document.finalPath = response.data.finalPath;
                console.log(obj.document.finalPath);
                // var filename = "../static/pdf/aqs.pdf";
                PDFObject.embed(obj.document.finalPath, ".document");
            }).catch(function (reason) {
                console.log(reason)
            })

        }
    })
</script>
</html>