<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文档展示页</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/header.css">
    <style>
        .pdfobject-container {
            height: 650px;
            width: 100%;
        }

        .pdfobject {
            border: 1px solid #666;
        }

        .title {
            width: 100%;
            height: 100px;
            background-color: #ffffff;
        }

        .creator-logo {
            background-color: #4cae4c;
            width: 100px;
            height: 100px;
            margin-top: 40px;
            border-radius: 45px;
            background-image: url(/static/img/gakki.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center center;
        }
        .item {
            size: 3px;
            margin-top: 10px;
            margin-right: 40px;
        }
        .comment_user {
            width: 30px;
            height: 30px;
            /*background-image: url("../static/img/gakki.jpg");*/
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-col :span="18">
                <el-menu
                        class="el-menu-demo"
                        mode="horizontal"
                        background-color="#24292e"
                        text-color="#fff"
                        active-text-color="#ffd04b">
                    <el-menu-item index="1">
                        <a href="/">DocumentKiller</a>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <el-input placeholder="请输入文档关键字">
                            <i slot="suffix" class="el-icon-search"></i>
                        </el-input>
                    </el-menu-item>
                    <el-menu-item index="5" disabled>我的工作台</el-menu-item>
                    <el-menu-item index="6" disabled>消息中心</el-menu-item>
                    <el-menu-item  index="7" ><a href="/topic">讨论组</a></el-menu-item>
                </el-menu>
            </el-col>
            <el-col :span="6">
                <el-menu
                        class="el-menu-demo"
                        mode="horizontal"
                        background-color="#24292e"
                        text-color="#fff"
                        active-text-color="#ffd04b">
                    <el-menu-item index="8" class="test">
                        <i class="el-icon-bell"></i>
                    </el-menu-item>
                    <el-menu-item index="9" :disabled="seen">
                        <i class="el-icon-plus" @click="dialogFormVisible = true"></i>
                    </el-menu-item>
                    <el-menu-item index="10">
                        <i class="el-icon-star-on" @click="testMessage"></i>
                    </el-menu-item>
                    <el-submenu-item index="11">
                        <a :href="'/'+ userMessage.account">
                            <div id="user_head" :style="{backgroundImage: 'url(/system/img/' +userMessage.account+ '.jpg)'}"></div>
                        </a>
                    </el-submenu-item>
                </el-menu>
            </el-col>
        </el-header>
        <el-container>
            <el-col :span="4" :offset="1">
                <el-aside>
                    <el-menu
                            default-active="2"
                            class="el-menu-vertical-demo"
                            @select="pressAside">
                        <el-menu-item index="file">
                            <i class="el-icon-menu"></i>
                            <span slot="title">查看原文</span>
                        </el-menu-item>
                        <el-menu-item index="comment" v-if="document.mode != 2">
                            <i class="el-icon-document"></i>
                            <span slot="title">查看讨论</span>
                        </el-menu-item>
                        </el-submenu>
                    </el-menu>
                </el-aside>
            </el-col>
            <template v-if="currentAside == 'file'">
            <el-col :span="2" :offset="2">
                <a href="#">
                    <div class="creator-logo"></div>
                </a>
            </el-col>
            <el-col :span="11" :offset="0">
                <el-main>
                    <el-dialog title="发起话题讨论" :visible.sync="dialogFormVisible">
                        <el-form label-width="80px">
                            <el-form-item label="@想讨论的成员">
                                <el-checkbox-group v-model="selectMembers">
                                    <el-checkbox-button v-for="member in members" :label="member.account" :key="member.account">{{member.userName}}</el-checkbox-button>
                                </el-checkbox-group>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button type="primary" @click="startDiscuss">确 定</el-button>
                            <el-button @click="dialogFormVisible = false">取 消</el-button>
                        </div>
                    </el-dialog>
                    <div class="title">
                        <h2>{{document.title}}</h2>
                        <h4 style="color: grey">{{document.documentDesc}}</h4>
                        <div class="creator">
                            <a :href="'/'+creator.userName"><p style="float: left;">{{creator.userName}}</p></a>
                            <p style="float: left; margin-left: 55%;">{{document.createdDate}}</p>
                        </div>
                    </div>
                    <div class="document"></div>
                </el-main>
            </el-col>
            </template>
            <template v-if="currentAside == 'comment'">
                <el-col :span="11" :offset="4">
                    <el-card class="box-card" v-for="message  in messages">
                        <el-row>
                            <el-col :span="1">
                                <div class="comment_user" :style="{backgroundImage: 'url(/system/img/' +message.sendAccount+ '.jpg)'}"></div>
                            </el-col>
                            <el-col :span="4" :offset="1">
                                <p>{{message.sendAccount}}</p>
                            </el-col>
                            <el-col :span="4" :offset="14">
                                <p>{{parseDate(message.sendDate)}}</p>
                            </el-col>
                        </el-row>
                        <div class="messageContent">
                            <p>{{message.content}}</p>
                            <a v-if="message.mode == 1" :href="getUploadFilePath(message.messageId)">预览</a>
                        </div>
                    </el-card>
                </el-col>
            </template>
        </el-container>
    </el-container>
</div>
</body>
<script src="/static/js/vue.js"></script>
<script src="/static/js/index.js"></script>
<script src="/static/js/axios.js"></script>
<script src="/static/js/pdfobject.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            creator: {
                userName: ""
            },
            document: {
                fileId: "",
                title: "",
                createdDate: "",
                finalPath: "",
                mode: ""
            },
            userMessage: {
                userName: ""
            },

            messages: [],
            currentAside: "file",
            dialogFormVisible: false,
            selectMembers: [],
            members: [],
            seen: ""
        },
        mounted: function () {
            obj = this;
            obj.userMessage.userName = obj.getCookie("currentUser");
            var param = window.location.href;
            var fileId = param.split("/")[5];
            console.log("fileId"+fileId);
            axios.get("/fileInfo/" + fileId).then(function (response) {
                obj.document.finalPath = response.data.finalPath;
                obj.creator.userName = response.data.user.userName;
                obj.document.title = response.data.fileInfo.fileName;
                obj.document.createdDate = response.data.dateString;
                obj.document.fileId = response.data.fileInfo.fileId;
                obj.document.mode = response.data.fileInfo.mode;
                PDFObject.embed(obj.document.finalPath, ".document");
            }).then(function (response) {
                //私有文件无法话题讨论
                if (obj.document.mode != 2) {
                    obj.seen = false;
                } else {
                    obj.seen = true;
                }
            }).catch(function (reason) {
                console.log(reason);
            });
            axios.get("/users/").then(function (response) {
                obj.members = response.data;
            });

        },
        methods: {
            //获取cookie
            getCookie: function (cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
                }
                return "";
            },
            startDiscuss: function () {
                var obj = this;
                var param = window.location.href;
                var fileId = param.split("/")[5];
                // 发起话题讨论
                this.dialogFormVisible = false;
                //todo 发起完成后,显示发起成功
                //选取的成员的首页的讨论组后出现一条消息,点击会进入讨论页
                var param = {
                    "selectMembers": obj.selectMembers,
                    "fileId": fileId
                };
                console.log(param);
                axios.post("/topic", param).then(function (response) {
                    if (response.data === "success") {
                        obj.$message({
                            message: '创建话题讨论成功',
                            type: 'success'
                        });
                    } else {
                        this.$message.error('创建话题讨论失败');
                    }
                }).catch(function (response) {
                    console.log(response);
                })
            },
            testMessage: function () {

            },
            parseDate: function(time) {
                var datetime = new Date();
                datetime.setTime(time);
                return datetime.getFullYear() + "年" + (datetime.getMonth()+1) + "月" + datetime.getDay() + "日";

            },
            checkDiscuss: function () {
                var obj = this;


            },
            pressAside: function (index, indexPath) {
                var obj = this;
                console.log(index);
                obj.currentAside = index;
                if(index === "comment") {
                    axios.get("/file/comment/"+obj.document.fileId).then(function (response) {
                        obj.messages = response.data;
                    })
                } else if (index === "file"){
                    PDFObject.embed(obj.document.finalPath, ".document");
                }
            }
        }
    })
</script>
</html>