<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小组页面</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/header.css">
    <style>
        .content {
            width: 1000px;
            height: 900px;
            background-color: #f6f6f6;
            border: #ebeef5 1px solid;
        }
        el-card {
            height: 400px;
        }
        .users el-col {
            height: 300px;
        }
        .user_picture {
            background-color: #f6f6f6;
            width: 100%;
            height: 150px;
            /*background-image: url(../static/img/gakki2.jpg);*/
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center center;
        }
        span {
            margin-left: 40%;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-col :span="18">
                    <el-menu
                            class="el-menu-demo"
                            mode="horizontal"
                            background-color="#24292e"
                            text-color="#fff"
                            active-text-color="#ffd04b">
                        <el-menu-item index="1">
                            <a href="/">DocumentKiller</a>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <el-input placeholder="请输入文档关键字">
                                <i slot="suffix" class="el-icon-search"></i>
                            </el-input>
                        </el-menu-item>
                        <el-menu-item index="5" disabled>我的工作台</el-menu-item>
                        <el-menu-item index="6" disabled>消息中心</el-menu-item>
                        <el-menu-item  index="7" ><a href="/topic">讨论组</a></el-menu-item>
                    </el-menu>
                </el-col>
                <el-col :span="6">
                    <el-menu
                            class="el-menu-demo"
                            mode="horizontal"
                            background-color="#24292e"
                            text-color="#fff"
                            active-text-color="#ffd04b">
                        <el-menu-item index="8">
                            <i class="el-icon-circle-plus-outline" title="新建文件"></i>
                        </el-menu-item>
                        <el-menu-item index="9">
                            <i class="el-icon-plus"  title="新建文件夹"></i>
                        </el-menu-item>
                        <el-menu-item index="10">
                            <i class="el-icon-star-on"></i>
                        </el-menu-item>
                        <el-submenu-item index="11">
                            <a :href="'/'+ userMessage.account">
                                <div id="user_head" :style="{backgroundImage: 'url(/system/img/' +userMessage.account+ '.jpg)'}"></div>
                            </a>
                        </el-submenu-item>
                    </el-menu>
                </el-col>
            </el-header>
            <el-container>
                <el-col :span="18" :offset="3">
                    <div class="content">
                        <el-container>
                            <el-col :span="18" :offset="3">
                                <h1 class="user_name">{{group.groupName}}</h1>
                                <h4 style="color: grey">{{group.groupDesc}}</h4>
                                <hr style="height:1px;border:none;border-top:1px solid #ebebeb;" />
                            </el-col>
                        </el-container>
                        <el-container class="users">
                            <el-col :span="4" :offset="3" v-for="user in users">
                                <el-card :body-style="{ padding: '0px' }">
                                    <div class="user_picture" :style="{backgroundImage: 'url(/system/img/' +user.account+ '.jpg)'}">
                                    </div>
                                    <a :href="'/'+user.account"><span>{{user.userName}}</span></a>
                                </el-card>
                            </el-col>
                            <!--<el-col :span="4" :offset="1">-->
                                <!--<el-card :body-style="{ padding: '0px' }">-->
                                    <!--<div class="user_picture">-->
                                    <!--</div>-->
                                    <!--<div>-->
                                        <!--<span>Timo</span>-->
                                    <!--</div>-->
                                <!--</el-card>-->
                            <!--</el-col>-->
                            <!--<el-col :span="4" :offset="1">-->
                                <!--<el-card :body-style="{ padding: '0px' }">-->
                                    <!--<div class="user_picture">-->
                                    <!--</div>-->
                                    <!--<div>-->
                                        <!--<span>Timo</span>-->
                                    <!--</div>-->
                                <!--</el-card>-->
                            <!--</el-col>-->
                            <!--<el-col :span="4" :offset="1">-->
                                <!--<el-card :body-style="{ padding: '0px' }">-->
                                    <!--<div class="user_picture">-->
                                    <!--</div>-->
                                    <!--<div>-->
                                        <!--<span>Timo</span>-->
                                    <!--</div>-->
                                <!--</el-card>-->
                            <!--</el-col>-->
                        </el-container>
                    </div>
                </el-col>
            </el-container>
        </el-container>
    </div>
</body>
<script src="../static/js/vue.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/axios.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            userMessage: {
                userName: ""
            },
            group: {
                groupId: "",
                groupName: "",
                groupDesc: ""
            },
            users: []
        },
        mounted: function() {
            obj = this;
            obj.userMessage.userName = obj.getCookie("currentUser");
            var groupId = obj.getGroupId();
            axios.get("/userTestGroup/"+ groupId).then(function (response) {
                obj.group.groupId = response.data.groupId;
                obj.group.groupName = response.data.groupName;
                obj.group.groupDesc = response.data.groupDesc;
            }).catch(function (response) {
                console.log(response);
            });
            axios.get("/groupAllUser/"+ groupId).then(function (response) {
                obj.users = response.data;
            }).catch(function (response) {

            })
        },
        methods: {
            //获取cookie
            getCookie: function (cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
                }
                return "";
            },
            format_url: function (url) {
                return url.split(" ").join("_")
            },
            getGroupId: function () {
                var url = window.location.href;
                var groupId = url.split("/")[4];
                console.log("groupId"+groupId)
                return groupId

            }
        }
    })
</script>
</html>