<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户首页</title>
    <!--<link rel="stylesheet" href="../static/css/index.css">-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/header.css">
    <style>
        .image {
            border-radius: 15px;
        }
        #card {
            margin-left: 20px;
        }
        .helvetica {
            font-size: 20px;
            font-weight: bold;
            font-family: "Helvetica Neue";
        }
        .desc {
            font-size: 15px;
            color: #666;
            font-weight: lighter;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }

        .box-card a {
            color: #000000;
            text-decoration: none;
        }
        .box-card a:hover {
            color: #175199;
            text-decoration: none;
        }
        .el-menu-demo {
            height: 60px;
        }
    </style>
</head>
<body>
<div id="app2">
    <el-container>
        <el-header>
            <el-col :span="18">
                <el-menu
                        class="el-menu-demo"
                        mode="horizontal"
                        background-color="#24292e"
                        text-color="#fff"
                        active-text-color="#ffd04b">
                    <el-menu-item index="1">
                        <a href="/">DocumentKiller</a>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <el-input placeholder="请输入文档关键字">
                            <i slot="suffix" class="el-icon-search"></i>
                        </el-input>
                    </el-menu-item>
                    <el-menu-item index="5">我的工作台</el-menu-item>
                    <el-menu-item index="6">消息中心</el-menu-item>
                    <el-menu-item index="7">小组管理</el-menu-item>
                </el-menu>
            </el-col>
            <el-col :span="6">
                <el-menu
                        class="el-menu-demo"
                        mode="horizontal"
                        background-color="#24292e"
                        text-color="#fff"
                        active-text-color="#ffd04b">
                    <el-menu-item index="8" class="test">
                        <i class="el-icon-bell"></i>
                    </el-menu-item>
                    <el-menu-item index="9">
                        <i class="el-icon-plus"></i>
                    </el-menu-item>
                    <el-menu-item index="10">
                        <i class="el-icon-star-on"></i>
                    </el-menu-item>
                    <el-submenu index="11">
                        <template slot="title">
                            <a class="user_head_a" href="#">
                                <div id="user_head">
                                </div>
                            </a>
                        </template>
                        <el-menu-item index="2-1"><a :href="'/'+ userMessage.userName">个人信息</a></el-menu-item>
                        <el-menu-item index="2-2">个人文档</el-menu-item>
                        <el-menu-item index="2-3"><a href="/document/test">新建文档</a></el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-col>
        </el-header>
        <el-container>
            <el-aside width="45%">
                <el-col id="card" :span="20">
                    <el-card :body-style="{ padding: '30px' }">
                        <img src="static/img/2-1.jpg" class="image">
                        <div style="padding: 14px;">
                                <p class="helvetica"><span>{{userMessage.userName}}</span></p>
                            <!--<div class="line"></div>-->
                            <!--<span>JedrekWang</span>-->
                            <!--<div class="line"></div>-->
                                <p class="desc"><span>{{userMessage.userDesc}}</span></p>
                            <div class="line"></div>
                            <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                            <span>{{userMessage.school}}</span>
                            <div class="line"></div>
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            <span>
                                <a :href="'mailto:' + userMessage.email">{{userMessage.email}}</a>
                            </span>
                            <div class="line"></div>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span>
                                <a :href="'/groups/'+ userMessage.groupId">{{userMessage.userGroup}}</a>
                            </span>
                        </div>
                    </el-card>
                </el-col>
            </el-aside>
            <el-container>
                <el-main>
                    <el-card class="box-card" v-for="document in documents">
                        <div slot="header" class="clearfix">
                            <a :href="userMessage.userName+'/'+document.documentId"><p class="helvetica"><span>{{document.title}}</span></p></a>
                        </div>
                            <div class="text item">
                                <p class="desc">{{document.documentDesc}}</p>
                            </div>
                    </el-card>
                </el-main>
                <el-footer>
                    {{footer}}
                    <i class="el-icon-success"></i>
                </el-footer>
            </el-container>
        </el-container>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="../static/js/vue.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/axios.js"></script>
<script>
    var vm2 = new Vue({
        el: "#app2",
        data: {
            userMessage: {
                userName: "",
                userDesc: "",
                school: "",
                email: "",
                userGroup: "",
                groupId: ""
            },
            documents: [],
            footer: "@CopyRight 2017-1028 by Jedrek"
        },
        mounted: function () {
            obj = this;
            var account = obj.getCookie("currentUser");
            axios.get('login/'+account).then(function (response) {
                obj.userMessage.email = response.data.email;
                obj.userMessage.userName = response.data.account;
            }).then(function (response) {
                axios.get('/account/'+obj.userMessage.userName).then(function (response) {
                    obj.userMessage.userName = response.data.userName;
                    obj.userMessage.userDesc = response.data.userDesc;
                    obj.userMessage.school = response.data.school;
                    obj.userMessage.email = response.data.email;
                    obj.userMessage.groupId = response.data.groupId;
                }).then(function (response) {
                    console.log("groupId",obj.userMessage.groupId);
                   axios.get('/group/'+obj.userMessage.groupId).then(function (response) {
                       console.log("groupName");
                       console.log(response);
                       obj.userMessage.userGroup = response.data;
                   })
                }).catch(function (response) {
                    console.log("error");
                    console.log(response);
                });
                axios.get('/'+account+'/documents').then(function (response) {
                    response.data.forEach(function(value, index, array){
                        obj.documents.push(value);
                    })
                }).catch(function (response) {
                    console.log(response);
                })
            });
        },
        methods: {
            //获取cookie
            getCookie: function (cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
                }
                return "";
            },
            format_url: function (url) {
                return url.split(" ").join("_")
            }
        }
    })
</script>
</html>