<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户首页</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.3.4/index.js">-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/header.css">
    <style>
        .comment_user {
            width: 30px;
            height: 30px;
            background-image: url("../static/img/gakki.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
        }
        .image {
            width: 350px;
            height: 350px;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center center;
            border-radius: 26px;
        }
        #card {
            margin-left: 20px;
        }
        .helvetica {
            font-size: 20px;
            font-weight: bold;
            font-family: "Helvetica Neue";
        }
        .desc {
            font-size: 15px;
            color: #666;
            font-weight: lighter;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }

        .box-card a {
            color: #000000;
            text-decoration: none;
        }
        .box-card a:hover {
            color: #175199;
            text-decoration: none;
        }
        .el-menu-demo {
            height: 60px;
        }

        .box-card {
            width: 100%;
            height: 150px;
        }

        .inputBox{
            margin-bottom: 30px;
        }
        /*.el-card {*/
            /*border: 0px;*/
        /*}*/

    </style>
</head>
<body>
<div id="app2">
    <el-container>
        <el-header>
            <el-col :span="18">
                <el-menu
                        default-active="7"
                        class="el-menu-demo"
                        mode="horizontal"
                        background-color="#24292e"
                        text-color="#fff"
                        active-text-color="#ffd04b">
                    <el-menu-item index="1">
                        <a href="/">DocumentKiller</a>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <el-input placeholder="请输入文档关键字">
                            <i slot="suffix" class="el-icon-search"></i>
                        </el-input>
                    </el-menu-item>
                    <el-menu-item index="5" disabled>我的工作台</el-menu-item>
                    <el-menu-item index="6" disabled>消息中心</el-menu-item>
                    <el-menu-item index="7">讨论组</el-menu-item>
                </el-menu>
            </el-col>
            <el-col :span="6">
                <el-menu
                        class="el-menu-demo"
                        mode="horizontal"
                        background-color="#24292e"
                        text-color="#fff"
                        active-text-color="#ffd04b">
                    <el-menu-item index="8" @click="dialogFormVisible = true">
                        <i class="el-icon-circle-plus-outline" title="新建文件"></i>
                    </el-menu-item>
                    <el-menu-item index="9" @click="addFolder">
                        <i class="el-icon-plus"  title="新建文件夹"></i>
                    </el-menu-item>
                    <el-menu-item index="10">
                        <i class="el-icon-star-on"></i>
                    </el-menu-item>
                    <el-submenu index="11">
                        <template slot="title">
                            <a class="user_head_a" href="#">
                                <div id="user_head" :style="{backgroundImage: 'url(/system/img/' +userMessage.account+ '.jpg)'}">
                                </div>
                            </a>
                        </template>
                        <el-menu-item index="2-1"><a :href="'/'+ userMessage.account">个人信息</a></el-menu-item>
                        <el-menu-item index="2-2">个人文档</el-menu-item>
                        <el-menu-item index="2-3"><a href="/document/test">新建文档</a></el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-col>
        </el-header>
        <el-container>

            <el-dialog title="文档信息" :visible.sync="dialogFormVisible">
                <el-form enctype="multipart/form-data" label-width="80px" method="post">
                    <el-form-item label="版本标题">
                        <el-input name="title" placeholder="请输入标题" size="medium"></el-input>
                    </el-form-item>
                    <el-form-item label="版本描述">
                        <el-input name="documentDesc" placeholder="请输入描述" size="medium"></el-input>
                    </el-form-item>
                    <el-form-item label="上传文档">
                        <input type="file" name="file" class="btn btn-primary">
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
                </div>
            </el-dialog>

            <el-dialog title="上传资料" :visible.sync="dialogFormVisible">
                <el-form label-width="80px">
                    <el-form-item label="上传类型">
                        <el-radio-group v-model="version">
                            <el-radio-button label="版本文档"></el-radio-button>
                            <el-radio-button label="普通资料"></el-radio-button>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="上传">
                        <input type="file" name="file" class="btn btn-primary">
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="startDiscuss">确 定</el-button>
                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                </div>
            </el-dialog>

            <el-col :span="4" :offset="1">
                <el-aside>
                    <el-menu
                            default-active="0"
                            class="el-menu-vertical-demo">
                    <el-menu-item v-for="(topic,index) in topics"  :index="index+''">
                        <i class="el-icon-menu"></i>
                        <span slot="title">由{{topic.topicStartAccount}}发起的{{topic.topicId}}</span>
                    </el-menu-item>
                    </el-menu>
                </el-aside>
            </el-col>
            <el-col :span="18" :offset="1">
                <el-main>
                    <el-row>
                        <el-col :span="15" :offset="0">
                            <el-input  v-model="currentMessage" placeholder="请输入内容"></el-input>
                        </el-col>
                        <el-col :span="8" :offset="1">
                            <el-button type="primary" @click="sendMessage">评论</el-button>
                            <el-button type="primary" @click="dialogFormVisible = true">上传</el-button>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="24">
                            <el-card class="box-card" v-for="message in messages">
                                    <el-row>
                                        <el-col :span="1">
                                            <div class="comment_user"></div>
                                        </el-col>
                                        <el-col :span="2">
                                            <p>{{message.sendAccount}}</p>
                                        </el-col>
                                        <el-col :span="4" :offset="16">
                                            <p>{{parseDate(message.sendDate)}}</p>
                                        </el-col>
                                    </el-row>
                                <div class="messageContent">
                                    <p>{{message.content}}</p>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>
                </el-main>
            </el-col>
        </el-container>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="../static/js/vue.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/axios.js"></script>
<script>
    var vm2 = new Vue({
        el: "#app2",
        data: {
            userMessage: {
                userId:"",
                account: "",
                userName: "",
                userDesc: "",
                school: "",
                email: "",
                userGroup: "",
                groupId: 1, //此处暂时写死
            },
            topics: [],
            messages: [],
            currentMessage: "",
            currentTopic: "",

            dialogFormVisible: false,
            version: "版本文档"
        },
        mounted: function () {
            document.oncontextmenu = function() {
                return false;
            };
            var obj = this;
            var account = obj.getCookie("currentUser");
            axios.get('login/'+account).then(function (response) {
                obj.userMessage.email = response.data.email;
                obj.userMessage.account = response.data.account;
            }).then(function (response) {
                axios.get('/account/'+obj.userMessage.account).then(function (response) {
                    obj.userMessage.userId = response.data.userId;
                    obj.userMessage.userName = response.data.userName;
                    obj.userMessage.userDesc = response.data.userDesc;
                    obj.userMessage.school = response.data.school;
                    obj.userMessage.email = response.data.email;
                    // obj.userMessage.groupId = response.data.groupId;
                }).then(function (response) {
                   axios.get("/topics/"+account).then(function (response) {
                        obj.topics = response.data;
                   }).then(function (response) {
                       var firstTopicId = obj.topics[0].topicId;
                       obj.currentTopic = firstTopicId;
                       axios.get("/topicDetail/"+firstTopicId).then(function (response) {
                            obj.messages = response.data;
                       }).catch(function (response) {
                            console.log(response)
                       })
                   })
                }).catch(function (response) {
                    console.log(response);
                });
            });
        },
        methods: {
            //获取cookie
            getCookie: function (cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
                }
                return "";
            },
            format_url: function (url) {
                return url.split(" ").join("_")
            },
            addFolder: function() {
                var number = 10;
                this.folders.push({
                    "folderName": "课题项目",
                    "folderDesc": "课题项目",
                    "createdUserId": this.userMessage.userId,
                    "isNew": true,
                });
            },
            uploadFile: function(event) {
                var obj = this;
                event.preventDefault();
                var formData = new FormData();
                formData.append('file', this.file);
                formData.append('parentFolderId', this.currentFolderId);
                var config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                };
                axios.post('/file/test', formData, config).then(function (response) {
                    console.log(response);
                }).then(function (value) {
                    obj.dialogFormVisible = false;
                    //fixme 更新的不是根文件，而是指定目录下的文件
                    axios.get('/'+obj.userMessage.account+'/parentFolder/'+obj.currentFolderId).then(function (response) {
                        obj.files = response.data;
                    }).catch(function (reason) {
                        console.log(reason)
                    })
                }).catch(function (reason) {
                    console.log(reason);
                })
            },
            getFile: function(event) {
                this.file = event.target.files[0];
                console.log("file");
                console.log(this.file);
            },
            calculateCol: function(x, index) {
                // 通过行数和数组的索引判断每行渲染的folder数目
                return index + 1 <= x * 4 && index + 1 > Math.max(0, (x-1)*4);
            },
            createFolder: function(folder) {
                var uploadFolder = folder;
                if (this.currentFolderId !== "") {
                    uploadFolder.parentFolderId = this.currentFolderId;
                }
                folder.isNew = false;
                axios.post('/'+this.userMessage.account+"/folder", uploadFolder).then(function (response) {
                    if(response.data === "rootFolder") {
                        //为根目录.无需操作
                    } else {
                        // 为子目录,更新文件夹信息
                        uploadFolder.folderId = response.data;
                        folder.folderId = response.data;
                        console.log("获取的文件夹id为"+response.data);
                        axios.get('/folders/'+uploadFolder.folderId).then(function (response) {
                            obj.folders = response.data;
                        }).catch(function (reason) {
                            console.log(reason);
                        });
                    }

                });
            },
            deleteFolder: function (folder) {
                console.log(folder);
                this.folders.pop();
                console.log(this.folders);
            },
            showFolderContent: function (folder) {
                var obj = this;
                obj.previousFolders = obj.folders;
                obj.previousFiles = obj.files;
                obj.currentFolder = folder;
                obj.currentFolderId = folder.folderId;
                console.log(folder);
                axios.get('/folders/'+folder.folderId).then(function (response) {
                    obj.folders = response.data;
                }).catch(function (reason) {
                    console.log(reason);
                });
                axios.get('/files/'+folder.folderId).then(function (response) {
                    obj.files = response.data;
                }).catch(function (response) {
                    console.log(response)
                })
            },
            setPressStuff: function (stuff) {
                this.dialogVisible = true;
                this.pressStuff = stuff;
                console.log("pressStuff");
                console.log(this.pressStuff);
            },
            removeStuff: function() {
                var obj = this;
                var noFolder = false;
                var noFile = false;
                if ('folderId' in this.pressStuff) {
                    for (var i = 0; i < this.folders.length; i++) {
                        if (this.folders[i].folderId == this.pressStuff.folderId) {
                            this.folders.splice(i, 1);
                            break;
                        }
                    }
                    axios.get('/folders/'+obj.pressStuff.parentFolderId).then(function (response) {
                        if (response.data == null) {
                            noFolder = true;
                        }
                    }).then(function (response) {
                        axios.get('/files/'+obj.pressStuff.parentFolderId).then(function (response) {
                            if (response.data == null) {
                                noFile = true;
                            }
                        }).then(function (response) {
                            axios.get("/deleteFolder/"+ obj.pressStuff.folderId).then(function (response) {
                                if(response.data == "success") {
                                    console.log("成功删除文件夹");
                                } else {
                                    console.log("删除文件夹失败");
                                }
                            }).catch(function (response) {
                                console.log(response);
                            })
                        }).catch(function (response) {
                            console.log(response)
                        });
                    }).catch(function (reason) {
                        console.log(reason);
                    });



                } else if('fileId' in this.pressStuff) {
                    for (var j = 0; j < this.files.length; j++) {
                        if (this.files[j].fileId == this.pressStuff.fileId) {
                            this.files.splice(j, 1);
                            break;
                        }
                    }
                    axios.get("/deleteFile/"+ obj.pressStuff.fileId).then(function (response) {
                        if(response.data == "success") {
                            console.log("成功删除文件");
                        } else {
                            console.log("删除文件失败");
                        }
                    }).catch(function (response) {
                        console.log(response);
                    })
                }
                this.dialogVisible = false;
            },
            execBefore: function () {
                if (this.currentFolder.folderName === "" || this.currentFolder.folderName == null) {
                    console.log("无法继续before")
                    return;
                }
                this.folders = this.previousFolders;
                this.files = this.previousFiles;
                var folder = this.currentFolder;
                console.log(this.currentFolder);
                var parentFolderId = folder.parentFolderId;
                var obj = this;
                axios.get('/folder/'+parentFolderId).then(function (response) {
                    if (response.data != "error") {
                        obj.currentFolder = response.data;
                        obj.currentFolderId = obj.currentFolder.folderId;
                    } else {
                        obj.currentFolder = "";
                        obj.currentFolderId = "";
                    }
                }).then(function (response) {
                    axios.get('/folders/'+obj.currentFolder.parentFolderId).then(function (response) {
                        obj.previousFolders = response.data;
                    }).catch(function (reason) {
                        console.log(reason);
                    });
                    axios.get('/files/'+obj.currentFolder.parentFolderId).then(function (response) {
                        obj.previousFiles  = response.data;
                    }).catch(function (response) {
                        console.log(response)
                    })
                });
            },
            tabClick: function(tab, event) {
                if(tab.name === "first") {
                    console.log("点击了第一个tab")
                } else if (tab.name === 'second') {
                    console.log("点击了第二个tab")
                } else {
                    console.log("点击了第三个tab")
                }
            },
            sendMessage: function () {
                obj = this;
                var param = {
                    message: obj.currentMessage,
                    sendAccount: obj.userMessage.account,
                    topicId: obj.currentTopic
                };
                axios.post("/message", param).then(function (response) {
                    axios.get("/topicDetail/"+obj.currentTopic).then(function (response) {
                        obj.messages = response.data;
                        obj.currentMessage = "";
                    }).catch(function (response) {
                        console.log(response)
                    })
                }).catch(function (response) {

                })
            },
            parseDate: function(time) {
                var datetime = new Date();
                datetime.setTime(time);
                return datetime.getFullYear() + "年" + (datetime.getMonth()+1) + "月" + datetime.getDay() + "日";

            }
        }
    })
</script>
</html>